/* FOR DESKTOPS */
@media screen {

h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 26px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

p1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

ul { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

li { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

a { color: black; }

a.hover { color: gray; }

/* FOR MOBILE DEVICES */
@media (hover:none) {
body {
        background-color: lightblue;
    }
h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 44px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 34px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 34px; } 

h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 38px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 34px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } 

p1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } 

ul { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } 

li { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 40px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }

a { color: black; }

.topnav a {
  font-size: 18px;
}

.dropdown .dropbtn {
  font-size: 18px;
}

.dropdown-content a {
  font-size: 20px;
}

}




/*/////Desktop browser
@media screen {
    body {
        background-color: lightblue;
    }
}
*/


/*///////////////////// WORKING on iPhone

@media (pointer: coarse) {
    body {
        background-color: purple;
    }
}

@media (any-pointer:coarse) {
    body {
        background-color: yellow;
    }
}


@media (hover:none) {
    body {
        background-color: green;
    }
}

/////////////////////*/
