h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-size: 3.8vmin; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h2 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-size: 3.4vmin; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-size: 3vmin; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-size: 2.6vmin; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

ul { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-size: 2.6vmin; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

li { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-size: 2.6vmin; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

@media screen {
    body {
        background-color: lightblue;
    }
}

@media screen and (min-resolution: 200dpi) and (max-resolution: 900dpi) {
    body {
        background-color: red;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ration: 5) {
    body {
        background-color: red;
    }
}

@media (any-pointer:coarse) {
    body {
        background-color: yellow;
    }
}


/*///////////////////// WORKING on iPhone

@media (pointer: coarse) {
    body {
        background-color: purple;
    }
}

@media (hover:none) {
    body {
        background-color: green;
    }
}

/////////////////////*/
